.chatbox {
  border: 2px solid grey;
  border-radius: 4px;
  margin: 5px 0;
  padding: 10px;
  background-color: blanchedalmond;
}

.me .chatbox {
  background-color: aquamarine;
}

.container {
  display: flex;
}

.container.me {
  flex-direction: row-reverse;
}

.btm {
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100%;
  bottom: 2px;
}

.btm input {
  padding: 10px 0;
  flex-grow: 1;
}
.btm button {
  padding: 10px 0;
}

.chatroom-container {
  height: 70vh;
  overflow-y: scroll;
  border: 1px solid black;
}

.authBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25vh;
  position: relative;
}

.authBtnStyle {
  font-size: medium;
  color: aliceblue;
  background-color: rgb(198, 37, 37);
  border-radius: 4px;
  border-color: rgb(198, 37, 37);
}
